.card {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;
}

.image {
  width: 260px;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.selector {
  display: flex;
  background-color: var(--gray-control);
  border-radius: 10px;
  flex-direction: column;
  padding: 6px;

  ul {
    display: flex;
    flex: 1;

    &:first-of-type {
      margin-bottom: 6px;
    }

    li {
      flex: 1;
    }

    button {
      width: 100%;
      text-align: center;
      padding: 8px;
      border: 0;
      border-radius: 5px;
      background: transparent;
      cursor: pointer;
      font: inherit;
      font-weight: 600;
      font-size: 14px;
      user-select: none;

      &.active {
        background: var(--white);
        box-shadow: 0 2px 4px var(--shadow);
        cursor: auto;
      }

      &:focus-visible {
        outline: 3px solid var(--orange-focus);
        outline-offset: 2px;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.price {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
