.categories {
  min-height: 50px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;

    li {
      background-color: var(--gray-soft);
      padding: 13px 30px;
      border-radius: 30px;

      font-weight: 700;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      user-select: none;

      &:hover {
        background-color: var(--gray-soft-hover);
      }

      &:active {
        background-color: var(--gray-soft-active);
      }

      @media (width < 768px) {
        padding: 8px 20px;
      }
    }
  }

  & .active {
    background-color: var(--black-soft);
    color: var(--white);
  }
}

.skeletonList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
}

.skeletonItem {
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    var(--gray-surface) 25%,
    var(--gray-skeleton) 37%,
    var(--gray-surface) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;

  @media (width < 768px) {
    height: 36px;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
