.root {
  max-width: 520px;
  margin-top: 30px;
  text-align: center;
}

.root h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.root p {
  color: #555;
  font-size: 18px;
  line-height: 1.35;
}
