.wrapper {
  max-width: 520px;
  margin-top: 30px;
  text-align: center;
}

.wrapper h2 {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

.wrapper p {
  color: var(--gray-text);
  font-size: 18px;
  line-height: 1.35;
}
