.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
}

.state {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  width: 100%;
}
