@use 'reset';
@use 'fonts';
@use 'variables';
@use 'button';

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--yellow);
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}
